@(userName: String)

@import helper._

@mainlayout(userName) {

    @defining(models.TestSet.listTestSetsByUserId(userName)) { testSets =>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Testset Name</th>
            </tr>
            </thead>
            <tbody>
                @testSets.map { testSet =>
                <tr><td><a href="@routes.Application.viewTestSet(testSet.id.toString)">@testSet.description</a></td></tr>
                }
            </tbody>
        </table>
    }

}